backtrader==1.9.78.123
beautifulsoup4==4.12.3
bcrypt==4.1.2
cn2an==0.5.22
dashscope==1.14.1
fastapi~=0.109.0
fake_useragent==1.5.1
jieba==0.42.1
jionlp==1.5.6
langchain==0.1.17
langcodes==3.3.0
langdetect==1.0.9
langchain_openai==0.0.8
matplotlib==3.8.2
modelscope==1.11.0
numpy==1.26.3
openpyxl==3.1.2
pandas==2.2.0
passlib==1.7.4
python_jose==3.3.0
pydantic==2.6.0
PyMySQL==1.1.0
PyYAML==6.0.1
python-multipart==0.0.9
qianfan==0.3.10
pymilvus==2.3.6
pypdf==4.1.0
requests==2.31.0
scipy==1.11.1
sse_starlette==2.0.0
supervisor==4.2.2
sentencepiece==0.1.99
torch==2.2.0
transformers==4.33.2
thefuzz==0.22.1
tqdm==4.66.1
uvicorn~=0.27.0.post1
